# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Env
venv/
.env
*.env

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# Pytest cache
.pytest_cache/
cache/

# Database files
*.db
*.sqlite3

# Docker
*.pid
